{% extends 'admin/base.html.twig' %}

{% block title %}Hello RecipeController!
{% endblock %}

{% block body %}


	<h1 class="mb-3">Recipes</h1>

	<p class="mb-1">
		<a class="btn btn-primary btn-sm" href="{{ path("admin.recipe.create") }}">Nouvelle recette</a>
	</p>

	<table class="table">
		<tbody>
			<tr>
				<th>Titre</th>
				<th>Action</th>
			</tr>
		</tbody>
		{% for id, recipe in recipes %}
			<tr>
				<td>
					<a href="{{ url('recipe.show', { id: recipe.id }) }}">{{ recipe.title }}</a>
				</td>
				<td>
					<div class="d-flex gap-1">
						<a class="btn btn-primary btn-sm" href="{{ path("admin.recipe.edit", {id: recipe.id }) }}">Editer</a>
						<form
							action="{{ path("admin.recipe.delete", {id: recipe.id }) }}" method="post">
							<input type="hidden" name="_method" value="DELETE">
							<button type="submit" class="btn btn-danger btn-sm">Supprimer</button>
						</form>
					</div>
				</td>
			</tr>
		{% endfor %}
	</table>


{% endblock %}
